.cover__subtlile{
    padding-top: 32px;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-left: calc(50vw - 328px);
}