.place__paragraph{
    max-width: 484px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-child{
    padding-bottom: 0;
}